* {
	box-sizing: border-box;
}

span {
	top: 472px;
	left: 798px;
}

.arrow {
	margin-top: 3px;
}

.author {
	font-size: 1em !important;
}

.buttons {
	position: absolute;
	height: 46px;
	left: 822px;
	top: 574px;
}

.curve {
	bottom: 180px;
	height: 240px;
	width: 787px;
	top: 662px;
}

.developer p.author {
	margin-top: 20px;
}

.developer p.title {
	left: 148px;
	top: 264px;
}

.developer p {
	font-size: 2em;
	text-align: left;
	margin-left: 78px;
	margin-top: -163px;
	width: 792px;
}

.developer p:nth-child(3) {
	top: 286px;
}
.engineer p {
	font-size: 2em;
	text-align: left;
	margin-left: 71px;
	margin-top: 15px;
	width: 800px;
}

.image-background {
	height: 600px;
	left: 760px;
	width: 600px;
	z-index: -1;
}

.quote-image {
	margin-left: 80px;
	margin-top: 130px;
	width: 100px;
}

.right-side .tanya-image,
.john-image {
	position: absolute;
	left: 632px;
	top: 115px;
	width: 480px;
	z-index: -1;
}

.title {
	position: absolute;
	font-size: 1em !important;
	left: 152px;
	top: 533px;
}
