body {
	max-width: 375px;
	overflow-x: hidden;
}

p {
	color: hsl(240, 38%, 20%);
	font-family: "Inter", sans-serif;
	font-weight: 100;
}

span {
	-webkit-box-shadow: -45px -111px 127px 25px rgba(27, 150, 194, 1);
	-moz-box-shadow: -45px -111px 127px 25px rgba(27, 150, 194, 1);
	box-shadow: 140px 60px 140px 45px hsl(240, 38%, 20%);
	position: absolute;
	top: 300px;
	z-index: -1;
}

button {
	background-color: white;
	border: none;
	margin-top: 10px;
	width: 20px;
}

button:nth-child(1) {
	position: absolute;
	top: 2px;
	left: 10px;
}

button:nth-child(2) {
	position: absolute;
	top: 2px;
	right: 15px;
}

.arrow {
	height: 16px;
	width: 14px;
}
.author {
	font-size: 18px;
	font-weight: bold;
}

.title {
	color: hsl(240, 18%, 77%);
	font-size: 18px;
	font-weight: 500;
	margin-top: -14px;
}

.buttons {
	background-color: white;
	border-radius: 25px;
	height: 42px;
	position: absolute;
	text-align: center;
	top: 359px;
	left: 136px;
	width: 90px;
	z-index: 2;
}

.engineer {
	visibility: hidden;
}

.engineer,
.developer {
	font-size: 20px;
	margin-left: -100px;
	margin-top: -54px;
	width: 360px;
	text-align: center;
}

.developer {
	margin-top: -250px;
}

.john-image {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	width: 300px;
	visibility: hidden;
}

.left-side {
	display: flex;
	flex-direction: column;
	margin: 100px;
}

.quote-image {
	margin-top: 340px;
	margin-left: 40px;
	width: 60px;
}

.tanya-image {
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 80px;
	width: 300px;
	z-index: 1;
}

.image-background {
	position: absolute;
	top: 45px;
	left: 0px;
	right: 0px;
	width: 376px;
	height: 362px;
}
